venv
.env
C:\Users\DELL\Desktop\persantation_maker\app\__pycache__
C:\Users\DELL\Desktop\persantation_maker\app\backend\__pycache__
C:\Users\DELL\Desktop\persantation_maker\app\ppt_content\__pycache__